# ==============================
# Web server
# ==============================

Django<=1.5.5



# ==============================
# Asynchronous proecssing
# ==============================

django-celery



# ==============================
# Persistence
# ==============================

psycopg2
jsonfield
south<=0.8.2
django-redis
django-storages
boto



# ==============================
# Authentication
# ==============================

django-social-auth



# ==============================
# APIs
# ==============================

djangorestframework==2.3.7
PIL  # For image verification



# ==============================
# External Services
# ==============================

twitter



# ==============================
# Routes and Templating
# ==============================

django-jstemplate>=1.3.2
django-shorturls



# ==============================
# Testing / QA
# ==============================

nose
django-nose
django-debug-toolbar