{% load jstemplate %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->

<head>
  {% if vision %}
  <title>{{ app.title }} | "{{ vision.text|truncatechars:70 }}" by @{{ vision.author.username }}</title>
  {% elif category %}
  <title>{{ app.title }} | {{ category.prompt|safe }}</title>
  {% else %}
  <title>{{ app.title }} | {{ app.subtitle }}</title>
  {% endif %}

  <meta charset="utf-8">
  <meta name="description" content="{{ app.description }}">
  <meta name="author" content="OpenPlans">

  <!--  Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name=apple-mobile-web-app-capable content=yes>
  <meta name=apple-mobile-web-app-status-bar-style content=black>

  {% if vision %}
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ app.twitter_handle }}">
  <meta name="twitter:creator" content="@{{ vision.author.username }}">
  <meta name="twitter:title" content="{{ app.share_title }}">
  <meta name="twitter:image:src" content="{{ vision.media_url }}">
  <meta name="twitter:description" content="{{ vision.text }}">

  <!-- Facebook -->
  <meta property="og:site_name" content="{{ app.title }}"/>
  <meta property="og:title" content="{{ app.share_title }}"/>
  <meta property="og:description" content="{{ vision.text }}"/>

  {% endif %}

  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon-precomposed.png">

  <!-- Windows Start Screen Tiles -->
  <meta name="application-name" content="{{ app.title }}"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="{{ STATIC_URL }}images/splashlogo.png"/>

  <!-- Google Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>

  {% if debug %}
  <link rel="stylesheet" href="{{ STATIC_URL }}components/normalize-css/normalize.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}components/swiper/dist/idangerous.swiper.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen, projection" />

  <script src="{{ STATIC_URL }}components/modernizr/modernizr.js"></script>
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/components.min.css?_=1" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/swiper.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.min.css?_=1" type="text/css" media="screen, projection" />
  <script src="{{ STATIC_URL }}js/modernizr.min.js"></script>
  {% endif %}

</head>
<body>

  <div class="site-header">
    <div class="container clearfix">
      <h1 class="site-title"><a href="/" title="{{ app.url }}" rel="home" class="nobreak">{{ app.title }}</a></h1>
      <nav class="main-menu">
        <ul class="unstyled-list">

          {% if user.is_authenticated %}
          <li class="user-menu-item">
            <a href="#" class="user-menu-avatar"><img src="{{ user_data.avatar_url }}"></a>
            <ul class="user-menu unstyled-list">
              <li class="sub-menu-item"><a href="/users/{{ user_data.id }}" class="">My Profile</a></li>
              <li class="sub-menu-item"><a href="{% url 'logout' %}" class="authentication-link authentication-link-logout">Sign out</a></li>
            </ul>
          </li>
          {% else %}
          <li class="main-menu-item"><a href="{% url 'socialauth_begin' backend='twitter' %}" class="authentication-link authentication-link-login">Sign In <img src="{{ STATIC_URL }}images/nav-twitter.png" class="twitter-icon"></a></li>
          {% endif %}

          <li class="main-menu-item list-users"><a href="/users/list/visionaries"><img src="{{ STATIC_URL }}images/nav-users.png" class="menu-icon"><span class="is-hidden">Users</span></a></li>
        </ul>
      </nav>
    </div>
  </div><!-- end .site-header -->

  <div class="main">
    <div class="spinner-target"></div>
  </div><!-- end .main -->

  <script>
    var {{NS}} = {{NS}} || {};
    {{NS}}.currentUserData = {{ user_json|safe }};
    {{NS}}.staticURL = '{{ STATIC_URL|safe }}';
    {{NS}}.loginURL = '{% url "socialauth_begin" backend="twitter" %}';
    {{NS}}.twitterConf = {{ twitter_config|safe }};
    {{NS}}.categories = {{ categories|safe }};
    {{NS}}.appConfig = {{ app_json|safe }};
  </script>

  {% if debug %}
  <script src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
  <script src="{{ STATIC_URL }}components/handlebars.js/dist/handlebars.js"></script>
  <script src="{{ STATIC_URL }}components/underscore/underscore-min.js"></script>
  <script src="{{ STATIC_URL }}components/backbone/backbone.js"></script>
  <script src="{{ STATIC_URL }}components/backbone-relational/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="{{ STATIC_URL }}components/moment/moment.js"></script>
  <script src="{{ STATIC_URL }}components/swiper/dist/idangerous.swiper-2.0.js"></script>
  <script src="{{ STATIC_URL }}components/Countable/Countable.js"></script>
  <script src="{{ STATIC_URL }}components/spin.js/spin.js"></script>

  <!-- Image processing tools -->
  <script src="{{ STATIC_URL }}components/exif-js/binaryajax.js"></script>
  <script src="{{ STATIC_URL }}components/exif-js/exif.js"></script>
  <script src="{{ STATIC_URL }}components/blueimp-load-image/js/load-image.js"></script>
  <script src="{{ STATIC_URL }}components/blueimp-canvas-to-blob/js/canvas-to-blob.js"></script>

  {% handlebarsjs '(.*)' precompile register_partials %}

  <script src="{{ STATIC_URL }}js/config.js"></script>
  <script src="{{ STATIC_URL }}js/django-csrf.js"></script>
  <script src="{{ STATIC_URL }}js/utils.js"></script>
  <script src="{{ STATIC_URL }}js/handlebars-helpers.js"></script>
  <script src="{{ STATIC_URL }}js/models.js"></script>
  <script src="{{ STATIC_URL }}js/views.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}js/components.min.js?_=1"></script>
  {% handlebarsjs '(.*)' precompile register_partials %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ settings.GOOGLE_ANALYTICS_ID|safe }}', '{{ settings.GOOGLE_ANALYTICS_DOMAIN|safe }}');
  </script>

  <script src="{{ STATIC_URL }}js/app.min.js?_=1"></script>
  {% endif %}
</body>
</html>
