#djDebugToolbarHandle {
  display: none !important;
}

/* TEMPORARILY HIDE ELEMENTS THAT DON'T LINK TO ANYWHERE YET */
.main-menu-item.list-users,
.visionaries-region a.btn.btn-block,
.allies-region a.btn.btn-block,
.user-menu.unstyled-list li.sub-menu-item:last-child { display: none; }

/* =Base Styles
-------------------------------------------------------------- */

/* Color Palette (These aren't semantic; just here for reference. No YOLO! ) */
.pink { color: #ff5db1; }
.hotpink { color: #ef037d; }
.paleblue { color: #a1cbcf; }
.lighterblue { color: #7ec4d8; }
.lightblue { color: #48a5bf; }
.blue { color: #268099; }
.lightbeige { color: #e7e7d7; }
.beige { color: #d5d5c6; }
.lightgray { color: #b2b2a6; }
.gray { color: #808073; }
.darkgray { color: #444; }
.lightgreen { color: #549926; }
.green { color: #468020; }

/* Typography */
body { line-height: 1.25; }
body, select, input, textarea {
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0.5em 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
h1 { font-size: 1.75em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 {
  font-size: 1em;
  font-weight: 700;
  color: #808073;
  text-transform: uppercase;
}
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #268099; }
a:hover { color: #48a5bf; }
p { margin: 0 0 1.2em; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
ul li, ol li { padding-bottom: 0.6em; }
ul.unstyled-list, ol.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.unstyled-list li, ol.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 800;
}
hr {
  margin: 1.5em 0;
  border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -10px;
  margin-left: -10px;
}
.capitalize { text-transform:capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.5em -0.325em 0.5em;
}
.vision .icon-inline {
  height: 2em;
  margin: 0 0 -0.75em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.325em 0.5em 0.125em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #268099;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a1cbcf;
  box-shadow: 0 0 0.325em rgba(0,0,0,0.25);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border: 3px solid #7ec4d8;
  border-radius: 3px;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #268099;
  border-color: #48a5bf;
  color: #fff;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #48a5bf;
  border-color: #7ec4d8;
  color: #e7e7d7;
}
.btn-cancel,
.btn-cancel:visited,
.btn-cancel:link {
  background-color: #e7e7d7;
  border-color: #d5d5c6;
  color: #ef037d;
}
.btn:disabled {
  background-color: #b2b2a6;
  border-color: #d5d5c6;
  color: #d5d5c6;
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  margin: 0 0 1.2em;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
}
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}
.btn-small {
  font-size: 0.85em;
}

/* Forms */
form {
}
label {
}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak {
  white-space: nowrap;
}


/* =Layout
-------------------------------------------------------------- */

html { height: 100%; }

body {
  min-height: 100%;
  background-color: #e7e7d7;
}

.container {
  padding: 20px 10px;
}
.container-primary {
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.container-fullwidth {
  margin-right: -10px;
  margin-left: -10px;
}

.main {
  position: relative;
  z-index: 1;
  font-size: small;
  line-height: 1.5;
}
.welcome.site-footer {
  margin-top: 30px;
  margin-bottom: -20px;
  box-shadow: none;
  border-radius: 0 0 5px 5px;
  font-size: medium;
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.25);
}


/* =Site Header
-------------------------------------------------------------- */
.site-header {
  background-color: #48a5bf;
  height: 40px;
  margin: 0;
  overflow: visible;
  position: relative;
  z-index: 2;
}
.site-header .container {
  height: 40px;
  box-shadow: inset 0 20px 20px #7ec4d8, 0 0 8px rgba(0,0,0,0.5);
  padding: 0;
  margin: 0;
}
.site-title {
  height: 40px;
  margin: 0;
  float: left;
  overflow: hidden;
}
.site-title a {
  float: left;
  height: 40px;
  padding: 0 9px;
}
.site-title .logo {
  display: block;
  width: 44px;
  height: 21px;
  margin: 9px 0 0 0;
}
.site-title a {
  text-decoration: none;
}
.site-title a span {
}

/* Navigation Menus */
.main-menu {
  float: right;
}
.main-menu-item {
  float: right;
  margin: 0 0 0 5px;
  padding: 0;
}
.main-menu-item a {
  float: left;
  height: 40px;
  padding: 0 5px;
}
.menu-icon {
  display: block;
  width: 25px;
  height: 27px;
  margin: 7px 0 0 0;
}

a.authentication-link-login {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  margin: 0 5px;
  text-decoration: none;
  color: #e7e7d7;
  font-weight: bold;
  text-shadow: 0 -1px 0 #268099;
}
.twitter-icon {
  height: 22px;
  width: auto;
  vertical-align: top;
  position: relative;
  top: 8px;
}

.user-menu-item {
  position: relative;
  float: right;
  padding: 0 10px 0 8px;
  margin: 8px 10px 0 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.user-menu-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 5px;
  background: url(../images/user-menu-shadow.png) 0 0 no-repeat scroll;
}
ul.user-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #7ec4d8;
  padding: 2px 2px 0 2px;
  margin: -3px 0 0 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
ul.user-menu:before {
  content: "";
  position: absolute;
  top: -15px;
  right: 23px;
  width: 0;
  height: 0;
  border: 8px solid #7ec4d8;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
ul.user-menu:after {
  content: "";
  position: absolute;
  top: -12px;
  right: 23px;
  width: 0;
  height: 0;
  border: 8px solid #268099;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.user-menu.is-open {
  display: block;
}
.sub-menu-item {
  background-color: #268099;
  border-bottom: 2px solid #7ec4d8;
}
.sub-menu-item a {
  display: block;
  text-align: center;
  padding: 0.5em 1em;
  white-space: nowrap;
  color: #d5d5c6;
  text-decoration: none;
  text-transform: uppercase;
}
.user-menu-avatar {
  display: block;
  background-color: #48a5bf;
  border: 2px solid #7ec4d8;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.user-menu-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 0 0 18px 18px;
}


/* =Visions
-------------------------------------------------------------- */

.vision {
  position: relative;
  padding-left: 40px;
}

.vision-header {
  margin-top: -10px;
}
.datetime {
  float: right;
  font-size: x-small;
  padding: 10px 0;
  text-decoration: none;
}
.author {
  display: block;
  padding: 10px 0;
}
.twitter-handle {
  font-style: normal;
  font-weight: 700;
  color: #808073;
}
a.user-link {
  float: left;
  background-color: #48a5bf;
  border: 2px solid #7ec4d8;
  border-left: 0;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-left: -50px;
  margin-bottom: 75px;
}
.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 0 18px 18px 0;
}
.vision-title {
  display: block;
  font-size: medium;
  font-weight: 700;
}
.vision-description {}
.vision-category-string {
  display: none;
}


/* Vision Footer */
.vision-footer {
  clear: both;
  position: relative;
  margin: 20px -10px -20px -50px;
  background-color: #d5d5c6;
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.15);
}
.category-link {
  float: right;
  padding: 0 10px;
  text-decoration: none;
  line-height: 2.5em;
}
.retweet-link,
.reply-link {
  float: left;
  text-decoration: none;
  position: relative;
  font-weight: 800;
  background: #48a5bf;
  box-shadow: inset 0 20px 20px #7ec4d8;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5);
  padding: 0 10px 0 30px;
  line-height: 2.5em;
}
.reply-link {
  border-left: 1px solid #48a5bf;
}
.tweet-icon {
  display: block;
  width: 20px;
  height: 15px;
  position: absolute;
  left: 8px;
  top: 50%;
  overflow: hidden;
  margin-top: -7px;
}
.tweet-icon img {
  width: 100%;
  position: relative;
}
.retweet-link:hover,
.retweet-link.retweeted,
.reply-link:hover {
  color: #468020;
}
.retweet-link:hover img,
.retweet-link.retweeted img,
.reply-link:hover img {
  top: -15px;
}

.retweet-login-prompt {
  position: absolute;
  z-index: 2;
  top: -15px;
  left: 0;
  background: #fff;
  padding: 15px 15px 15px 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 0 6px 6px 0;
}

.confirm-retweet-prompt {
  clear: both;
  background-color: #fff;
  box-shadow: 0 -3px 3px rgba(0,0,0,0.15);
  padding: 10px;
}
.tweet-preview {}
.tweet-preview-avatar {
  float: left;
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px 10px 20px 0;
  border-radius: 5px;
}
.tweet-preview-text {
  font-size: medium;
  font-weight: 600;
  padding-left: 50px;
}

/* Conversation */
.replies-region {}
.reply {
  padding-left: 50px;
}
.replies-region .avatar {
  float: left;
  border-radius: 0;
  margin-left: -50px;
}
.replies-region .datetime {
  padding: 0;
}

/* Vision List */
.vision-list {
  clear: both;
}
.vision-list li {
  margin-bottom: 10px;
  position: relative;
}
.vision-list .vision {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.vision-list .moment {
  margin: 15px 0;
}
.container-moment-media {
  box-shadow: 0 3px 5px rgba(0,0,0,0.5), 0 -1px 0 #fff;
}
.moment-media {
  display: block;
  margin: 10px 0;
  width: 100%;
}
.moment-text {
  font-size: x-large;
  font-weight: 600;
}
.moment-author {
  font-weight: 400;
  line-height: 1;
  font-size: large;
}
.vision-list .user-link {
  margin-top: 5px;
  margin-bottom: 0;
}
.vision-list .vision-title {
  font-weight: 400;
}
.vision-link {
  display: block;
  padding: 0 10px 0 40px;
  margin-left: -40px;
  text-decoration: none;
}
.vision-list-category-icon {
  float: right;
  color: #b2b2a6;
  padding: 5px 0 10px;
}

/* Support */
.support,
a.support {
  color: #ef037d;
  font-weight: 600;
  padding: 5px 0 10px;
  float: left;
}
.heart {
  display: block;
  background-color: #d5d5c6;
  box-shadow: inset 0 0.75em 0.75em rgba(255,255,255,0.5);
  width: 26px;
  height: 21px;
  font-size: 21px;
}
.vision-header a.support {
  display: block;
  width: 50px;
  position: absolute;
  z-index: 3;
  top: 56px;
  left: -13px;
  font-size: large;
  text-align: center;
  text-decoration: none;
  padding: 0;
}
.vision-header a.support .heart {
  margin-left: 11px;
}
.supported .heart {
  background-color: #ef037d;
}
.support-count {
  color: #ef037d;
  font-weight: 800;
}
.heart-inline {
  display: inline-block;
  height: 1.25em;
  width: auto;
  margin-bottom: -0.25em;
  font-size: 1em;
}
.support-login-prompt {
  position: absolute;
  z-index: 2;
  top: 48px;
  left: -10px;
  background: #fff;
  padding: 15px 15px 15px 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 0 6px 6px 0;
}

/* Vision Form */
.category-icon + img {
  background-color: #b2b2a6;
  cursor: pointer;
}
.category-icon:checked + img {
  background-color: #268099;
}
.vision-category-list {
  float: left;
  width: 100%;
}
.vision-category-list li {
  float: left;
  width: 14%;
  padding: 0;
  margin: 0;
}
.vision-category-list img {
  width: 100%;
  height: auto;
  display: block;
}

a.category-list-link {
  background: #b2b2a6;
  display: block;
  margin-bottom: 10px;
}
.is-current-economy .vision-category-economy a.category-list-link,
.is-current-health .vision-category-health a.category-list-link,
.is-current-energy .vision-category-energy a.category-list-link,
.is-current-living .vision-category-living a.category-list-link,
.is-current-connectivity .vision-category-connectivity a.category-list-link,
.is-current-identity .vision-category-identity a.category-list-link,
.is-current-creativity .vision-category-creativity a.category-list-link {
  background-color: #268099;
}

h6.category-prompt {
  margin: -10px 0 10px;
}
.category-title {
  color: #268099;
}

.on-off-switch-label {
  line-height: 34px;
}
.on-off-switch-icon {
  float: left;
  display: block;
  width: 60px;
  height: 34px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 5px;
}
.on-off-switch-icon img {
  width: 100%;
  position: relative;
  top: -34px;
}
.on-off-switch:checked + .on-off-switch-icon img {
  width: 100%;
  top: 0;
}
.on-off-switch,
.on-off-switch-label,
.on-off-switch-icon,
.on-off-switch-icon img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Reply Form */
.reply-form {
}
.reply-text {
  height: 4.5em;
  margin-bottom: 10px;
}
.reply-count {
  font-size: medium;
  font-weight: 800;
  background-color: #a1cbcf;
  float: right;
  margin: -10px 10px 0 0;
  padding: 0.25em 0.5em;
}
.reply-btn {
}

/* Swiper */
.vision-gallery {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
.swiper-container {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.swiper-slide {
  width: 100%;
/*  height: 100%;*/
  height: auto !important;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
          transition: opacity 1.2s;
}
.swiper-slide-active { }
.swiper-slide-visible { opacity: 1; }
.swiper-pagination-switch {}
.swiper-active-switch {}
.swiper-visible-switch {}

.swiper-slide .vision {
  padding: 0 0 0 40px;
  margin: 5px 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.swiper-slide .user-link {
  margin-top: 5px;
}
.swiper-slide .vision p {
  margin: 0;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #b2b2a6;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #48a5bf;
}


/* =Welcome Message
-------------------------------------------------------------- */

.welcome {
  margin-top: -20px;
  margin-bottom: 15px;
  padding: 15px 10px 1px 10px;
  background: #808073;
  color: #e7e7d7;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 rgba(255,255,255,0.75), inset 0 -3px 3px rgba(0,0,0,0.1);
}
.welcome a {
  color: #7ec4d8;
}
a.welcome-close-btn {
  float: right;
  width: 1.25em;
  height: 1.25em;
  color: #444;
  text-shadow: none;
  font-size: xx-large;
  text-decoration: none;
  line-height: 1.25em;
  text-align: center;
  margin: -15px -10px 0 0;
}
.welcome-avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px 10px 20px -55px;
}
.welcome-header {
  padding-left: 55px;
  margin-bottom: 1em;
}
.welcome h1, .welcome h2, .welcome h3, .welcome h4, .welcome h5, .welcome h6 {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.welcome-prequestion {
  display: block;
}
.welcome-question {
  display: inline;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.2;
}
.welcome-more-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
  font-size: 0.8em;
}


/* =User Lists
-------------------------------------------------------------- */

ul.user-list {
  clear: both;
  margin-bottom: 10px;
}
.user-list li {
  display: inline;
}
.user-list li a,
.user-list li .pretend-a {
  float: left;
  width: 10%;
}
.user-list .avatar {
  border-radius: 0;
  width: 100%;
  height: auto;
}

/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
  body {
    width: 480px;
    margin: 0 auto;
    background: #444;
    padding-bottom: 4em;
  }
  .main {
    box-shadow: 0 0 50px rgba(0,0,0,0.75);
    background-color: #e7e7d7;
    border-radius: 0 0 5px 5px;
  }
  .container-moment-media {
    margin-right: -15px;
    margin-left: -15px;
  }
  .vision-list-category-icon:before,
  .category-link:before {
    content: 'Category: ';
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}