/* =Web Fonts
-------------------------------------------------------------- */

/* Light 100 */
@font-face {
  font-family: "Riona";
  src: url('http://vision_louisville.s3.amazonaws.com/static/stylesheets/fonts/Riona Sans Complete/Mika Melvas - RionaSans-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

/* Regular 400 */
@font-face {
  font-family: "Riona";
  src: url('http://vision_louisville.s3.amazonaws.com/static/stylesheets/fonts/Riona Sans Complete/Mika Melvas - RionaSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Riona";
  src: url('http://vision_louisville.s3.amazonaws.com/static/stylesheets/fonts/Riona Sans Complete/Mika Melvas - RionaSans-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Medium 500 */
@font-face {
  font-family: "Riona";
  src: url('http://vision_louisville.s3.amazonaws.com/static/stylesheets/fonts/Riona Sans Complete/Mika Melvas - RionaSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Bold 700 */
@font-face {
  font-family: "Riona";
  src: url('http://vision_louisville.s3.amazonaws.com/static/stylesheets/fonts/Riona Sans Complete/Mika Melvas - RionaSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Black 900 */
@font-face {
  font-family: "Riona";
  src: url('http://vision_louisville.s3.amazonaws.com/static/stylesheets/fonts/Riona Sans Complete/Mika Melvas - RionaSans-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Riona Black Italic";
  src: url('http://vision_louisville.s3.amazonaws.com/static/stylesheets/fonts/Riona Sans Complete/Mika Melvas - RionaSans-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Riona Medium Italic";
  src: url('http://vision_louisville.s3.amazonaws.com/static/stylesheets/fonts/Riona Sans Complete/Mika Melvas - RionaSans-MediumItalic.otf') format('opentype');
  font-weight: bold;
}


/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body { line-height: 1.25; }
body, select, input, textarea {
  color: #444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 { margin: 0 0 0.5em 0; font-family: "Riona"; }
h1 { font-size: 1.75em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #27948b; }
a:hover { color: #1b6760; }
p { margin: 0 0 1.2em; }
p:last-child { margin-bottom: 0; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
ul li, ol li { padding-bottom: 0.6em; }
hr {
  margin: 1.2em 0; border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  width: 1.25em;
  height: auto;
  vertical-align: text-top;
}
.icon-muted {
  opacity: 0.75;
}

/* Buttons */
.btn, 
.btn:visited, 
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.325em 0.5em 0.125em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  background-color: #e7e7d7;
  box-shadow: 0.125em 0.125em 0 rgba(0,0,0,0.25);
  font-family: "Riona";
  font-weight: 500;
  border: 0;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #d4d4b7;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #b0cc3f;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #92ab2d;
}
.btn-block, 
.btn-block:visited, 
.btn-block:link {
  display: block;
  margin: 0 0 1.2em;
  padding-top: 1em;
  padding-bottom: 0.75em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
}
.btn-large {
  font-size: 1.25em;
}

/* Forms */
form {}
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  height: 6.5em;
  resize: none;
  border: 0.25em solid #e7e7d7;
  padding: 0.5em;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }


/* =Layout
-------------------------------------------------------------- */

html { height: 100%; }

body {
  min-height: 100%;
  background-color: #f7f7e7;
}

.container {
  padding: 0.5em;
}

/* Site Header */
.site-header {
  margin-bottom: 0.5em;
  background-color: #e7e7d7;
  border-bottom: 1px solid #fff;
}
.site-title {
  font-size: 1.25em;
  font-family: "Riona";
  font-weight: 900;
  margin: 0;
}
.site-title a {
  text-decoration: none;
}
.site-title a span {
}


/* =Content Elements
-------------------------------------------------------------- */

.intro-text {
  text-align: center;
}
.intro-prompt {
  font-size: 1.125em;
  font-family: "Riona";
  font-weight: 700;
  margin-bottom: 0.5em;
}
.category-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1em;
  font-family: "Riona";
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1.5;
}
.category-list li {
  display: inline;
  padding: 0 0.125em;
  margin: 0;
}
.category-list a {
  text-decoration: none;
}
a.economy-link { color: #1C6722; }
a.health-link { color: #DD3226; }
a.energy-link { color: #F7B000; }
a.living-link { color: #8CB800; }
a.connectivity-link { color: #EA7518; }
a.identity-link { color: #1A534C; }
a.creativity-link { color: #29867B; }

/* Visions */
.vision-wrapper {
  position: relative;
  margin: 0 0 0 3.5em;
  padding: 0;
}
.vision {
  position: relative;
  margin: 0;
  padding: 1em 1.5em;
}
.vision p {
  position: relative;
  margin: 0;
  z-index: 3;
  min-height: 3.875em;
}
.balloon {
  background: #fff;
  border-radius: 1em;
  box-shadow: 0 0.125em 0.25em rgba(0,0,0,0.25);
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  z-index: 1;
}
.tail {
  color: #fff;
  text-shadow: 0 0.125em 0.1em rgba(0,0,0,0.25);
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  font-size: 2em;
  margin-top: -0.325em;
  margin-left: -0.5em;
  line-height: 1;
}
.tail-left {
  top: 1.25em;
  left: 0;
  margin-top: -0.5em;
  margin-left: -0.5em;
  text-shadow: -0.1em 0.05em 0.1em rgba(0,0,0,0.1);
}

/* Vision List */
.vision-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1em;
}
.vision-list li {
  margin: 0 0 0 3.5em;
  padding: 0;
  position: relative;
}
.vision-list .user-link,
.vision-wrapper .user-link {
  width: 2.5em;
  display: block;
  position: absolute;
  top: 1.125em;
  right: 100%;
  margin-right: 1em;
  background-color: #d7d7c7;
}
.vision-list .vision-link {
  display: block;
  text-decoration: none;
  color: #444;
  margin: -0.5em -1em -0.5em -1.25em;
  padding: 0.5em 1em 0.5em 1.25em;
}
.user-link .avatar {
  width: 100%;
  height: auto;
  display: block;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: auto;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
          transition: opacity 1.2s;
}
.swiper-slide-active {}
.swiper-slide-visible { opacity: 1; }
.swiper-pagination-switch {}
.swiper-active-switch {}
.swiper-visible-switch {}

.swiper-slide .vision {
  padding: 1em 1.5em 2.25em;
}
.swiper-slide .balloon {
  bottom: 1.5em;
}
.first .tail    { left: 14%; }
.second .tail   { left: 26%; }
.third .tail    { left: 38%; }
.fourth .tail   { left: 50%; }
.fifth .tail    { left: 62%; }
.sixth .tail    { left: 74%; }
.seventh .tail  { left: 86%; }

/* Swiper Navigation */
.swiper-nav {
  margin: 0 0 2em;
}
.swiper-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.swiper-nav-list li {
  float: left;
  width: 12%;
  padding: 0;
  margin: 0;
}
.swiper-nav .avatar {
  width: 100%;
  height: auto;
  display: block;
}
.swiper-nav li:first-child {
  margin-left: 8%;
}

.economy-swiper-link .avatar { background-color: #1C6722; }
.health-swiper-link .avatar { background-color: #DD3226; }
.energy-swiper-link .avatar { background-color: #F7B000; }
.living-swiper-link .avatar { background-color: #8CB800; }
.connectivity-swiper-link .avatar { background-color: #EA7518; }
.identity-swiper-link .avatar { background-color: #1A534C; }
.creativity-swiper-link .avatar { background-color: #29867B; }


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}